In [77]:
import pandas as pd
from sklearn.decomposition import NMF
import numpy as np

In [78]:
import codecs
file_name = 'drinkSAJ.csv'
with codecs.open(file_name, "r", "Shift-JIS", "ignore") as file:
    df = pd.read_table(file, delimiter=",")
# df = pd.read_csv(file_name)
df

       Drink  Mu15  M1620  M2130  M3140  Mo41  Fu15  F1620  F2130  F3140  Fo41
0       ぶどう酒  4.58   4.96   6.02   5.43  5.39  4.66   4.23   4.22   4.14  4.39
1        ビール  4.56   5.13   6.68   7.15  6.45  3.32   3.64   4.22   4.28  3.59
2         緑茶  6.13   6.29   7.05   6.76  6.63  6.52   6.81   7.21   6.83  7.35
3         紅茶  6.08   6.73   6.56   5.80  5.48  5.77   6.00   5.96   5.68  5.75
4       コーヒー  6.20   6.75   6.23   6.58  5.49  5.02   6.31   6.28   6.18  5.76
5         牛乳  7.40   7.27   6.75   6.70  6.82  6.27   6.25   5.04   6.36  5.16
6       カルピス  8.05   6.84   6.72   6.34  5.90  7.82   7.02   6.29   6.73  6.11
7   オレンジジュース  7.80   6.59   6.42   6.18  5.78  7.60   6.57   5.94   5.91  5.21
8     粉末ジュース  6.97   5.31   5.25   4.83  4.21  6.73   5.06   4.73   4.16  4.25
9        コーラ  6.87   6.86   6.23   5.56  4.96  5.60   5.77   4.49   3.87  3.34
10      サイダー  7.60   6.60   5.80   5.32  5.33  6.90   6.35   5.51   5.49  5.67
11      ネクター  6.96   5.61   4.34   4.28  4.15  6.46   5.70   5.31   4.77  4.19

In [79]:
df[["Mu15","M1620","M2130","M3140","Mo41","Fu15","F1620","F2130","F3140","Fo41"]]

    Mu15  M1620  M2130  M3140  Mo41  Fu15  F1620  F2130  F3140  Fo41
0   4.58   4.96   6.02   5.43  5.39  4.66   4.23   4.22   4.14  4.39
1   4.56   5.13   6.68   7.15  6.45  3.32   3.64   4.22   4.28  3.59
2   6.13   6.29   7.05   6.76  6.63  6.52   6.81   7.21   6.83  7.35
3   6.08   6.73   6.56   5.80  5.48  5.77   6.00   5.96   5.68  5.75
4   6.20   6.75   6.23   6.58  5.49  5.02   6.31   6.28   6.18  5.76
5   7.40   7.27   6.75   6.70  6.82  6.27   6.25   5.04   6.36  5.16
6   8.05   6.84   6.72   6.34  5.90  7.82   7.02   6.29   6.73  6.11
7   7.80   6.59   6.42   6.18  5.78  7.60   6.57   5.94   5.91  5.21
8   6.97   5.31   5.25   4.83  4.21  6.73   5.06   4.73   4.16  4.25
9   6.87   6.86   6.23   5.56  4.96  5.60   5.77   4.49   3.87  3.34
10  7.60   6.60   5.80   5.32  5.33  6.90   6.35   5.51   5.49  5.67
11  6.96   5.61   4.34   4.28  4.15  6.46   5.70   5.31   4.77  4.19

In [80]:
data = df[["Mu15","M1620","M2130","M3140","Mo41","Fu15","F1620","F2130","F3140","Fo41"]]
n_components = 6

model = NMF(n_components=n_components, init='random', random_state=0)
W = model.fit_transform(data)
H = model.components_


# print("R-P×Q^Tは")
# print(model.reconstruction_err_ )

In [81]:
print("Wは")
pd.DataFrame(W,index=df["Drink"])

Wは

                 0         1         2         3         4         5
Drink
ぶどう酒      1.424269  1.884571  0.597777  1.339426  0.000329  0.529837
ビール       0.289710  1.157742  1.010420  2.664906  0.359159  0.013054
緑茶        2.070262  2.456807  0.263800  1.438857  0.388694  1.841653
紅茶        1.760169  2.673359  0.524172  0.947769  0.498520  0.993189
コーヒー      1.187177  2.260261  0.563588  1.350443  0.997631  1.028575
牛乳        2.910117  2.600356  0.708775  0.331210  0.854686  0.000547
カルピス      2.031321  2.413995  1.016979  0.381737  0.845811  1.448093
オレンジジュース  1.282205  2.107490  1.358846  0.636688  0.835185  1.347905
粉末ジュース    0.453313  1.640083  1.518703  0.533437  0.567070  1.385599
コーラ       0.439098  2.394618  1.570095  0.874942  0.754666  0.195368
サイダー      2.105658  2.560580  0.869055  0.001108  0.722749  1.059748
ネクター      0.754165  1.727008  1.219641  0.038072  1.030281  1.398676

In [82]:
print("H^Tは")
pd.DataFrame(H,columns=df.columns[1:])

H^Tは

,Mu15,M1620,M2130,M3140,Mo41,Fu15,F1620,F2130,F3140,Fo41
0,1.058873,0.419641,1.008672,1.277244,1.611349,1.223901,0.474772,0.435493,1.358261,0.928123
1,0.534111,1.524404,0.881309,0.150004,0.000000,0.345525,1.190450,0.851337,0.061769,0.663360
2,2.458444,0.947681,1.500945,1.320471,1.483752,2.508142,0.620347,0.146843,0.396098,0.000000
3,0.222938,0.667432,1.451918,1.824848,1.582155,0.021885,0.392354,0.912926,1.034837,0.859546
4,1.339259,1.372462,0.000117,1.237448,0.619687,0.000360,1.406896,1.327472,1.901227,0.551040
5,0.640802,0.000000,0.203001,0.174043,0.128228,1.326490,0.790254,1.260305,0.876394,1.305935

In [83]:
print("W×H^Tは")
pd.DataFrame(np.dot(W,H))

W×H^Tは

,0,1,2,3,4,5,6,7,8,9
0,4.622861,4.931459,6.047033,5.428049,5.369271,4.625777,4.235219,4.203435,4.138774,4.415459
1,4.492671,5.115573,6.701052,7.187686,6.406571,3.364649,3.703794,4.186257,4.317266,3.542455
2,6.174363,6.357739,7.112374,6.788311,6.480845,6.518899,6.638025,7.182489,6.910193,7.407235
3,6.095690,6.627437,6.495998,5.860616,5.549786,5.731059,6.201446,5.898177,5.562533,5.793449
4,6.146112,6.748380,6.205025,6.477450,5.635903,5.041831,6.350237,6.377510,6.170994,5.654968
5,7.431643,7.250977,6.772003,6.705043,6.794596,6.246175,6.249763,5.022827,6.362245,5.182291
6,8.086243,6.911730,6.551155,6.294781,6.095903,7.800501,6.953142,6.385413,6.583211,6.171975
7,7.948184,6.609691,6.388368,6.178087,5.780002,7.507880,6.450586,5.940818,5.838023,5.355828
8,6.855906,5.263941,5.238004,4.746728,4.356883,6.780486,5.211861,4.802726,4.163059,4.089191
9,6.934875,6.942294,6.220022,5.557800,4.914173,5.581408,5.592563,4.507188,3.877666,3.419074
10,7.381067,6.603254,5.901807,5.301927,5.267934,7.047606,6.441805,5.520578,5.666443,5.436075
11,7.003971,5.544399,4.452675,4.420633,3.902902,6.435313,5.740318,5.142979,4.838111,4.272616