In [7]:
import pandas as pd
df = pd.read_csv('./data/lab.csv', encoding='cp932')
df.head()

     number professor
0  A1578501    Trihan
1  A1578834    Trihan
2  A1678169        高橋
3  A1678554         炭
4  A1678625         辻

In [9]:
data = []
for value in df.values:
    data.append([value[0] ,""])

df2 = pd.DataFrame(data=data, columns=["number", "student_name"])
df2.to_csv('./data/students.csv')